@model WebApplication2.Models.LESSION

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Test</h2>

<div>
    <h4>LESSION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_LESSION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_LESSION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME_LESSION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME_LESSION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LINK_VIDEO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LINK_VIDEO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_COURSE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_COURSE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
