@model IEnumerable<WebApplication2.Models.LESSION>

@{
    ViewBag.Title = "DetailCourse";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br /> <br /> <br /> <br /> <br /> <br /> <br />

<p>
    @Html.ActionLink("Thêm ", "Them")
</p>
<table class="table">
    <tr>
        
        <th>
           Tên bài học
        </th>
        <th>
            Link video
        </th>
     
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.NAME_LESSION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LINK_VIDEO)
        </td>
        
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.ID_LESSION}) |
          
            @Html.ActionLink("Xoá", "Delete", new { /* id=item.PrimaryKey */ })
            @Html.ActionLink("Chi tiết","Detail",new { id=item.ID_LESSION})
        </td>
    </tr>
}

</table>
